.TeamCard {
    display: flex;
    flex-direction: column;
    background: linear-gradient(55deg, rgb(56, 56, 56) 0%, rgb(38, 52, 134) 50%);
    border-radius: 10px;
    border: 5px solid black;
    margin: 2%;
    width: 25%;
    color: aliceblue;
    font-size: 1.1em;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    transition-duration: 0.2s;
}

.TeamCard:hover {
    cursor: pointer;
    border: 5px solid rgb(92, 92, 92);
}