.App {
  display: flex;
  flex-direction: column;
}

.AppBody {
  min-height: 80vh;
  background: rgb(138,164,223);
  background: linear-gradient(55deg, rgba(138,164,223,1) 0%, rgba(240,240,240,1) 50%, rgba(98,98,98,1) 100%);
}
